table {
border: 1px solid;
--text-align: center;
}
th, td {
--border: 2px solid;
--text-align: center;
--color: green;
}
#s1{
background-color: grey;
font-size: 20;
color: blue;
}
#s2{
--background-color: grey;
--font-size: 20;
color: green;
font-size: 20;
}
#s3{
color: red;
}